<!DOCTYPE html>
<html>
<head>
    <title>AI Campus Assistant</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">
        <h1>🎓 AI Campus Assistant</h1>

        <div class="chat-box" id="chat-box">
            <p><b>Assistant:</b> Hello! How can I help you?</p>
        </div>

        <div class="input-area">
            <input type="text" id="user-input" placeholder="Ask your question...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
